.container {
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  color: DarkOrange;
  font-size: 3.5rem;
  margin: 20px 0px;
}

.p {
  font-size: 2.5rem;
  margin: 0px 0px 20px 0px;
}

.ul_list {
  background-color: aqua;
}
.button {
  background-color: DarkOrange;
  border: 1px solid navy;
  color: black;
  font-size: 15px;
  margin: 20px 0;
  padding: 15px 25px;
}
.button:hover {
  cursor: pointer;
}

.container__form {
  display: flex;
  margin: 50px 0 0 0;
}

.form > div > input {
  border: 1px solid #ccc;
  color: black;
  display: table-cell; 
  font-size: 100%;
  height: 50px;
  outline: none;
  vertical-align: middle;
  width: 60%;
}